{% extends 'modelo.html' %}

{% block titulo %} Início {% endblock %}

{% block conteudo %}
    <div>
        <h1>Bem vindo(a) a Escola Online!</h1>
        <p>Temos muitos cursos de tecnologia, completamente online para você!</p>
    </div>
    <section>
        <h1>Nossos Cursos</h1>
        <div>
            {% for curso in cursos %}
                <div>
                    <div>
                        <h5>{{ curso.nome }}</h5>
                        <h6>{{ curso.tipo }}</h6>
                        <p>{{ curso.desc }}</p>
                        <a href="{{ url_for('catalogo.curso', slug=curso.slug) }}" class="card-link">
                            Detalhes
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}